:root {
  --body-bg-color: white;
  --body-color: black;
  --nav-bg-color : #ffffff2e;
  --nav-shadow-color : #00000033;

}
.revert {
  --body-bg-color: black;
  --body-color: white;
  --nav-bg-color : #ffffff2e;
  --nav-shadow-color : #ffffff78;
}

.visible-light,
.revert .visible-dark {
  font-size: 1.1rem;
  display: inline-block;
}
.visible-dark,
.revert .visible-light {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: black;
    --body-color: white;
  }

  .revert {
    --body-bg-color: white;
    --body-color: black;
  }

  .visible-light,
  .revert .visible-dark {
    display: none;
  }
  .visible-dark,
  .revert .visible-light {
    display: inline-block;
  }
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  /* background: radial-gradient(black 15%, transparent 16%) 0 0,radial-gradient(black 15%, transparent 16%) 8px 8px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; 
  background-color: #282828;
  background-size: 16px 16px;*/
  transition: 1s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 3em 1em 1em 1em;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
 html{
  scroll-behavior: smooth;
}

a,
a:visited {
  color: var(--body-color);
   
}

nav{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: var(--nav-bg-color);
  backdrop-filter: blur(5px);
  BOX-SHADOW: 0 1em 1em var(--nav-shadow-color);

}

nav a{
  padding: .5em 1em;
  display: inline-block;
}

nav a:nth-child(2){
  border-left: 1px solid var(--body-color);
  border-right: 1px solid var(--body-color);


}

nav > div {
  max-width: 900px;
  padding: 0 1em;

  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background-color: var(--body-bg-color);
    color: var(--body-color);
    /* border: 1px solid var(--body-color); */
    font-size: 1rem;
    /* padding: 0.25rem; */
    transition: 0.3s;
    box-shadow: 0 0 5px var(--nav-shadow-color);
    /* border-radius: 1em; */
    width: 1.75rem;
    height: 1.75em;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    border: none;
}
