:root {
  --body-bg-color: white;
  --body-bg-color-dark: black;
  --body-color: black;
  --body-color-dark: white;
  --nav-bg-color: #ffffff2e;
  --nav-bg-color-dark: #ffffff2e;
  --nav-shadow-color: #00000033;
  --nav-shadow-color-dark: #03a9f478;
}

.revert {
  --body-bg-color: var(--body-bg-color-dark);
  --body-color: var(--body-color-dark);
  --nav-bg-color: var(--nav-bg-color-dark);
  --nav-shadow-color: var(--nav-shadow-color-dark);
}

.visible-light,
.revert .visible-dark {
  font-size: 1.1rem;
  display: inline-block;
}
.visible-dark,
.revert .visible-light {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: var(--body-bg-color-dark);
    --body-bg-color-light: var(--body-bg-color);

    --body-color: var(--body-color-dark);
    --body-color-light: var(--body-bg-color);
    revert--nav-bg-color: var(--nav-bg-color-dark);
    --nav-bg-color-light: var(--nav-bg-color);

    --nav-shadow-color: var(--nav-shadow-color-dark);
    --nav-shadow-color-light: var(--nav-shadow-color);
  }

  .revert {
    --body-bg-color: var(--body-bg-color-light);
    --body-color: var(--body-color-light);
    --nav-bg-color: var(--nav-bg-color-light);
    --nav-shadow-color: var(--nav-shadow-color-light);
  }

  .visible-light,
  .revert .visible-dark {
    display: none;
  }
  .visible-dark,
  .revert .visible-light {
    display: inline-block;
  }
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  /* background: radial-gradient(black 15%, transparent 16%) 0 0,radial-gradient(black 15%, transparent 16%) 8px 8px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; 
  background-color: #282828;
  background-size: 16px 16px;*/
  transition: 1s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}

a,
a:visited {
  color: var(--body-color);
}
h1,
h2 {
  font-weight: lighter;
  margin: 0;
}

nav {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: var(--nav-bg-color);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1em var(--nav-shadow-color);
  border-radius: 20px;
}

nav a {
  padding: 0.5em 1em;
  display: inline-block;
}

nav a:nth-child(2) {
  border-left: 1px solid var(--body-color);
  border-right: 1px solid var(--body-color);
}

nav > div {
  max-width: 900px;
  padding: 0 1em;

  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  /* border: 1px solid var(--body-color); */
  font-size: 1rem;
  /* padding: 0.25rem; */
  transition: 0.3s;
  box-shadow: 0 0 5px var(--nav-shadow-color);
  /* border-radius: 1em; */
  width: 1.75rem;
  height: 1.75em;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  border: none;
}

section .anchor {
  padding-top: 2em;
}

#blogFrame {
  width: 100%;
  border: none;
  height: 250px;
}
:root {
  --post-height: 300px;
}

@media (min-width: 900px) {
  #blogFrame {
    height: calc(var(--post-height) * 2);
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  #blogFrame {
    height: calc(var(--post-height) * 3);
  }
}

@media (min-width: 0) and (max-width: 600px) {
  #blogFrame {
    height: calc(var(--post-height) * 6);
  }
}

div#tweetLazyload {
  width: 300px;
}
